/WestWood_Classic/temp/西木经典游戏汉化纪念版.exe
/WestWood_Classic/temp/readme.htm
/WestWood_Classic/temp/RA/wget.exe
/WestWood_Classic/temp/RA/ramolist.txt
/WestWood_Classic/temp/RA/germanlanguagepack.mix
/WestWood_Classic/temp/RA/germancensoredlanguagepack.mix
/WestWood_Classic/temp/lver
/WestWood_Classic/temp/CnC95/wintichi.mix
/WestWood_Classic/temp/CnC95/tempichi.mix
/WestWood_Classic/temp/CnC95/snowichi.mix
/WestWood_Classic/temp/CnC95/lang_chv.mix
/WestWood_Classic/temp/CnC95/lang_chn.mix
/WestWood_Classic/temp/CnC95/lang_chm.mix
/WestWood_Classic/temp/CnC95/lang_chg.mix
/WestWood_Classic/temp/CnC95/deseichi.mix
/WestWood_Classic/temp/attach/xtitle.1920
/WestWood_Classic/temp/attach/xtitle.1728
/WestWood_Classic/temp/attach/xtitle.864
/WestWood_Classic/temp/attach/speecchi.mix
/WestWood_Classic/temp/attach/ra100.gif
/WestWood_Classic/temp/attach/ddraw.dll
/WestWood_Classic/temp/attach/cnc100.gif
/WestWood_Classic/temp/attach/bg.gif
/D2R_load/发布工具/up_data
/D2R_load/手册
