﻿<head>

    <style type="text/css">
        p {
            color: red;
            font-size:13px;

                        }
        a {
            color: red;
            font-size: 13px;
        }
        body {
            color: red;
            font-size: 13px;
        }
        h1{
            color:red;
            font-size:16px;
        }
    </style>
</head>

<body>
    
<p>
本次更新 2018.8.14 Ver 1.38
</p>
	
	
    1.引导程序 <br />
    <p>
        &nbsp;&nbsp;&nbsp; &nbsp;1.<br />
    </p>

    2.命令与征服1 <br />

    <p>
        &nbsp;&nbsp;&nbsp; &nbsp;1.<br />
    </p>

	3.红色警戒1 <br />
    <p>
        &nbsp;&nbsp;&nbsp; &nbsp;1.<br />
    </p>
    

</body> 